name: build

on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        go:
          - "1.24.x"
          - "stable"
        os:
          - ubuntu-latest
          - macos-13 # amd64
          - macos-latest # arm64 for 14 onward
          - windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - name: Check version
        run: go version

      - name: Test and build
        run: rake build

      - name: Upload coverage
        if: matrix.os != 'windows-latest'
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          # fail_ci_if_error: true
          verbose: true
          flags: unittests
          file: build/go-test-coverage.txt

      - name: Archive build artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-${{env.VERSION}}-${{ matrix.os }}-go${{ matrix.go }}
          path: |
            build/release_notes.md
            build/artifacts/*
